<html>
    <body>
        <div class="salesPage">
            <mat-card class="salesList"
            [class.mat-elevation-z0]=true>
                <mat-card-title class="title centered colorfull">Quoting List</mat-card-title>
                <div class="table">
                    <mat-card class="listCont">
                        <div class="content">
                            <app-sales-list [quotes]="quotes"></app-sales-list>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </div>
    </body>
</html>