.example-container {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.example-container > * {
  align-content: center;

  width: 90%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  text-align: center;
}
h1 {
  margin: auto;
  text-align: center;
  background-color: #4d80e4;
  width: 95%;
  margin-bottom: 1%;
  padding: 1%;
  color: #ffffff;
}

input,
mat-label {
  margin: auto;
  text-align: center;
  align-content: center;
  margin-left: 5%;
  color: #ffffff;
}
option-class {
  color: #ffffff;
}
button {
  margin-top: 1%;
  margin: auto;
  align-content: center;
  width: 50%;
  display: block;
  background-color: #29b6f6;
  color: #ffffff;
}
mat-card,
mat-form-field {
  margin: auto;
  background-color: #01579b;
  text-align: center;
  align-content: center;
  width: 50%;
  display: block;
  margin-bottom: 1%;
}
.quote {
  background-color: #00c853;
  margin-top: 1%;
  color: #ffffff;
}
.mat-focused .placeholder {
  color: #ffffff;
}
.mainCard {
  padding: 1%;
}
