<mat-list role="list">
    <div
    class="item"
    *ngFor="let quote of quotes; let i = index"
    class="element" [class.mat-elevation-z0]=true
    >
        <div class="container">
            <div class="qli">
                {{quote.quoteName}}
            </div>
            <div class="qli">{{quote.client.ci}}
            </div>
            <div class="qli">{{quote.client.lastName +" " + quote.client.name}}</div>
            <div class="qli">{{quote.date}}</div>
        </div>
        <div
        class="container">
            <div class="qli title">Product: </div> 
            <div class="qli title">Price: </div> 
            <div class="qli title">Quantity: </div> 
            <div class="qli title">Total: </div>    
        </div>  
        <div
        *ngFor="let qli of quote.quoteListItems; let j = index">
                <div class="container"
                >
                    <div class="qli">{{qli.product.name}}</div>
                    <div class="qli">{{qli.price}}</div>
                    <div class="qli">{{qli.quantity}}</div>
                    <div class="qli">{{discountProduct(qli.price, qli.quantity)}}</div>
                </div>
        </div>
        <div
        class="container">
            <div class="total title">{{"TOTAL : " + total[i]}}</div>
            <button mat-stroked-button class="button" color="accent" (click)="buy(quote, i)">BUY</button>
        </div>
        <mat-divider></mat-divider>
    </div>
</mat-list>
